.blog-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 0.75fr 0.25fr;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas:
        "hd hd hd hd"
        "main main main sd"
        "ft ft ft ft"; */
}

h1 {
    grid-area: hd;
    margin-top: 1em;
}

time {
    color: darkgray;
    font-weight: bold;
    display: block;
}

.post-main-photo {
   width: 100%
}

article {
    grid-area: main;
    margin-left: 1em;
}

footer {
    grid-area: ft;
    margin-top: auto;
}

.author-info {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    background: lightsteelblue;
}

#avatar-photo {
    /* background-image: "assets/sugargliders.jpg";
    background-size: contain; */
    
    height: 50%;
    width: 50%;
    border: 3px black
    
}

.social-media {
    padding: 0.5em;
    background: lightsteelblue;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: left;    
}

.social-media a {
    padding-right: 0.5em;
}

