.blog-cards {
    border: 5px black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}

.blog-card {
    border: 3px black solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-card-img {
    max-width: 300px;
    max-height: 200px;
}