.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.75fr 0.25fr;
    grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

header {
    grid-area: hd;
}

#blog-post-nav {
        position: absolute;
        right: 0px; 
        display: flex;
        margin: 10px;
        font-size: 1.3rem;
}

h1 {
    margin-top: 1em;
}

h3 {
    margin-top: .5em;
}

time {
    color: darkgray;
    font-weight: bold;
    display: block;
}

.post-main-photo {
   width: 100%
}

article {
    grid-area: main;
    margin: 2em;
}

figure {
    padding: .75em 0em;
}

footer {
    grid-area: ft;
    margin-top: auto;
}

/* Sidebar */

.author-info {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    background: lightsteelblue;
    padding: 2em;
}

#avatar-photo {
    height: 50%;
    width: 50%;
    border: 3px black;
    padding: 1em;
    align-self: center;
    
}

/* Social Media Section */

.social-media {
    padding: 0.5em;
    margin-top: 0.5em;
    background: lightsteelblue;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: left;    
}

.social-media a {
    padding-right: 0.5em;
}

/* Various stylings to meet ruberic project criteria */

/* I tried to do the below as font: bold italic; but it wasn't working, not sure why? */

#bold-italic-section {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/* Not sure why this isn't working, tried using https://www.w3schools.com/csSref/tryit.asp?filename=trycss_gen_quotes */

blockquote {
    quotes: "'" "'";
    color: red
}